html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #E5989B;
  color: black;
  position: relative;
  font-family:'Pacifico', cursive;
  font-size:20px;
  
}
h1{
  color: #FFCDB2;
  font-size:40px;
}
p{
  font-family: Arial;
  font-style: italic;
  font-size:25px;
  
  
}
a {
  color: #019cdc;
  font-size: 12px;
  display: block;
}

/* ":hover" will effect the color
 of links when you "mouseover" */
a:hover,
a:visited:hover {
  color: purple;
}

/* ":visited" will effect the color
 of links you have previously clicked on */
a:visited {
  color: red;
}

.link-heading {
  display: block;
  font-size: 12px;
}

.square-one .inner {
  background: #591013;
}

.square-two .inner {
  background: #FB8B24;
}

.square-three .inner {
  background: #E36414;
}

.outer {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
}

.left {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 440px;
  height: 445px;
  box-sizing: border-box;
  margin: 0 auto;
}

.square {
  position: absolute;
  display: flex;
  height: 240px;
  width: 240px;
  transition-timing-function: linear;
  transition: all 2.679s linear;
  -webkit-transition: all 2.679s linear;
  -moz-transition: all 2.679s linear;
}

.wrap:hover .square-one {
  left: 48px;
  top: 52px;
}

.square-one {
  left: 0;
  top: 0;
}

.square-two {
  left: 52px;
  top: 52px;
}

.wrap:hover .square-three {
  left: 56px;
  top: 52px;
}

.square-three {
  left: 104px;
  top: 104px;
}

.inner {
  height: 240px;
  width: 4px;
  margin-right: 8px;
}
